
<div class="padding20">
    <div class="leader fg-main border-bottom" style="padding-bottom:10px;">BedTest</div>
    <div style="padding-top:20px;">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="832" height="624">
            <param name="movie" value="./Contents/flvplayer.swf?IsAutoPlay=1&vcastr_file=http://192.168.2.91:5000/flv">
            <param name="quality" value="high">
            <param name="allowFullScreen" value="true" />
			<param name="IsAutoPlay" value="1" /> 
            <embed src="./Contents/flvplayer.swf?IsAutoPlay=1&vcastr_file=http://192.168.2.91:5000/flv" allowFullScreen="true" quality="Autolow" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="480" />


        </object>
	
		<!--
		
            <embed src="/test/VideoLive/Contents/flvplayer.swf?IsAutoPlay=1&vcastr_file=http://10.0.1.89:8080/flv" allowFullScreen="true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="480" />


		<video controls="controls" autoplay="autoplay">
		  <source src="http://10.0.1.92:7200/stream" type="video/mp4" />
		Your browser does not support the video tag.
		</video> 


		<video controls="controls" autoplay="autoplay">
	  <source src="http://10.0.1.92:7000/stream" type="video/flv" />
            <embed src="/Contents/flvplayer.swf?vcastr_file=http://10.0.1.92:7000/stream" allowFullScreen="true" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="480" />
	-->
    </div>
</div>
