<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LED1" value="MDC_ECG_LEAD_I"/>
    <add key="LED2" value="MDC_ECG_LEAD_II"/>
    <add key="LED3" value="MDC_ECG_LEAD_III"/>
    <add key="LED4" value="MDC_ECG_LEAD_AVR"/>
    <add key="LED5" value="MDC_ECG_LEAD_AVL"/>
    <add key="LED6" value="MDC_ECG_LEAD_AVF"/>
    <add key="LED7" value="MDC_ECG_LEAD_V1"/>
    <add key="LED8" value="MDC_ECG_LEAD_V2"/>
    <add key="LED9" value="MDC_ECG_LEAD_V3"/>
    <add key="LED10" value="MDC_ECG_LEAD_V4"/>
    <add key="LED11" value="MDC_ECG_LEAD_V5"/>
    <add key="LED12" value="MDC_ECG_LEAD_V6"/>
  </appSettings>
  
</configuration>